.vs
bin
obj
HearthBuddy.sln
Plugins
Logs
packages
Properties
Settings
ArenaValues.xml
cjtijuxiyx.exe
DONOTDELETE.bin
fatal-removal.txt
fatal-rename.txt
GreyMagic.dll
Hearthbuddy Changelog.txt
HearthBuddy.csproj
HearthBuddy.csproj.user
Hearthbuddy.exe
Hearthbuddy.XML
HVMRuntm.dll
IronPython.dll
IronPython.Modules.dll
IronPython.Modules.xml
IronPython.xml
log4net.dll
log4net.xml
luldovhsie.exe
Microsoft.Dynamic.dll
Microsoft.Scripting.dll
Microsoft.Scripting.Metadata.dll
Newtonsoft.Json.xml
packages.config
RemoteASM.dll
RemoteASMNative.dll
Start.bat
Udis86Net.dll
Bots
JitProfiles
PatchTrack_v2_1101110
UltimateLogs
/CompiledAssemblies/1431302468/AutoStop.dll
/CompiledAssemblies/1431302468/AutoStop.pdb
/CompiledAssemblies/1431302468/DefaultRoutine.dll
/CompiledAssemblies/1431302468/DefaultRoutine.pdb
/CompiledAssemblies/1431302468/Quest.dll
/CompiledAssemblies/1431302468/Quest.pdb
/CompiledAssemblies/1431302468/QuestPlus.dll
/CompiledAssemblies/1431302468/QuestPlus.pdb
/CompiledAssemblies/1431302468/Stats.dll
/CompiledAssemblies/1431302468/Stats.pdb
/CompiledAssemblies/1431302468/StatsPlus.dll
/CompiledAssemblies/1431302468/StatsPlus.pdb
/CompiledAssemblies/1431302468/AutoReconnect.dll
/CompiledAssemblies/1431302468/AutoReconnect.pdb
/HearthstoneDeckTracker - 快捷方式.lnk
/CompiledAssemblies/95417921/AutoReconnect.dll
/CompiledAssemblies/95417921/AutoReconnect.pdb
95417921
*.exe
