.vs
bin
obj
HearthBuddy.sln
Plugins
Logs
packages
Properties
Settings
ArenaValues.xml
cjtijuxiyx.exe
DONOTDELETE.bin
fatal-removal.txt
fatal-rename.txt
GreyMagic.dll
Hearthbuddy Changelog.txt
HearthBuddy.csproj
HearthBuddy.csproj.user
Hearthbuddy.exe
Hearthbuddy.XML
HVMRuntm.dll
IronPython.dll
IronPython.Modules.dll
IronPython.Modules.xml
IronPython.xml
log4net.dll
log4net.xml
luldovhsie.exe
Microsoft.Dynamic.dll
Microsoft.Scripting.dll
Microsoft.Scripting.Metadata.dll
Newtonsoft.Json.xml
packages.config
RemoteASM.dll
RemoteASMNative.dll
Start.bat
Udis86Net.dll
Bots
JitProfiles
PatchTrack_v2_1101110
UltimateLogs
